name: build

on:
  push:
  pull_request:
  schedule:
    - cron: "30 14 * * *"

jobs:
  ruby-versions:
    if: github.repository == 'ruby/irb' || github.event_name != 'schedule'
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 2.7
  lint:
    if: github.repository == 'ruby/irb' || github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Run rubocop
        run: bundle exec rubocop
  irb:
    needs: ruby-versions
    name: rake test ${{ matrix.ruby }} ${{ matrix.with_latest_reline && '(latest reline)' || '' }}
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        with_latest_reline: [true, false]
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      WITH_LATEST_RELINE: ${{matrix.with_latest_reline}}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          # Added to make Ruby 2.7 correctly require installed default gems, like `pp`.
          rubygems: latest
      - name: Run tests
        run: bundle exec rake test
      - name: Run tests in isolation
        run: bundle exec rake test_in_isolation
  debug-test:
    if: github.repository == 'ruby/irb' || github.event_name != 'schedule'
    name: Debug compatibility test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Install dependencies
        run: bundle install
      - name: Install IRB
        run: |
          rake install
      - name: Download ruby/debug
        run: |
          git clone https://github.com/ruby/debug
      - name: Run debug tests
        working-directory: ./debug
        run: |
          bundle install
          bundle exec rake
  vterm-yamatanooroti:
    needs: ruby-versions
    name: >-
      vterm-yamatanooroti ${{ matrix.ruby }} ${{ matrix.with_latest_reline && '(latest reline)' || '' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        with_latest_reline: [true, false]
      fail-fast: false
    env:
      WITH_LATEST_RELINE: ${{matrix.with_latest_reline}}
      WITH_VTERM: 1
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - name: Install libvterm
        run: |
          sudo apt install -y libtool-bin
          wget http://www.leonerd.org.uk/code/libvterm/libvterm-0.1.4.tar.gz
          tar xvzf libvterm-0.1.4.tar.gz
          cd libvterm-0.1.4
          sed -i -e 's/^PREFIX=.*$/PREFIX=\/usr/g' Makefile
          make
          sudo make install
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: rake test_yamatanooroti
        run: bundle exec rake test_yamatanooroti
