name: build-with-truffleruby-head

on:
  push:
  pull_request:
  schedule:
    - cron: "30 14 * * *"

jobs:
  irb:
    if: github.repository == 'ruby/irb' || github.event_name != 'schedule'
    name: rake test truffleruby-head ${{ matrix.with_latest_reline && '(latest reline)' || '' }}
    strategy:
      matrix:
        with_latest_reline: [true, false]
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      WITH_LATEST_RELINE: ${{matrix.with_latest_reline}}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: truffleruby-head
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test
      - name: Run tests in isolation
        run: bundle exec rake test_in_isolation
